.search-place{
    background-color: #e45; 
    min-height: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.cards-place{
    background-color:white;
    display: block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card-holder{
    color: blueviolet;
    display: inline-block;
    padding: 2em;
    border-style: dotted;
    margin: 0 2em 0 2em;
    min-height: 15em;
}

.footer{
    background-color: yellowgreen;
}

.search-text{
    border-radius: 5em;
}

#mySearch{
    height: 10%;
}

.plus-img{
    display: block;
    padding-top: 1em;
}